# Project exclude paths
/batch-processing/target/
/bmt/target/
/cmt/target/
/ee-security/target/
/ejb-multi-server/app-main/ear/target/
/ejb-multi-server/app-main/ejb/target/
/ejb-multi-server/app-main/web/target/
/ejb-multi-server/app-one/ear/target/
/ejb-multi-server/app-one/ejb/target/
/ejb-multi-server/app-two/ear/target/
/ejb-multi-server/app-two/ejb/target/
/ejb-multi-server/app-web/target/
/ejb-multi-server/client/target/
/ejb-remote/target/
/ejb-security-context-propagation/target/
/ejb-security-programmatic-auth/target/
/ejb-throws-exception/ear/target/
/ejb-throws-exception/ejb/target/
/ejb-throws-exception/ejb-api/target/
/ejb-throws-exception/web/target/
/ejb-timer/target/
/ejb-txn-remote-call/client/target/
/ejb-txn-remote-call/server/target/
/ha-singleton-deployment/target/
/ha-singleton-service/target/
/helloworld/target/
/helloworld-jms/target/
/helloworld-mdb/target/
/helloworld-mutual-ssl/target/
/helloworld-mutual-ssl-secured/target/
/helloworld-singleton/target/
/helloworld-ws/target/
/hibernate/target/
/http-custom-mechanism/custom-module/target/
/http-custom-mechanism/webapp/target/
/jaxrs-client/target/
/jaxrs-jwt/target/
/jaxws-ejb/target/
/jaxws-retail/target/
/jsonp/target/
/jta-crash-rec/target/
/jts/application-component-1/target/
/jts/application-component-2/target/
/kitchensink/target/
/logging/target/
/mail/target/
/messaging-clustering-singleton/target/
/micrometer/target/
/microprofile-config/target/
/microprofile-fault-tolerance/target/
/microprofile-health/target/
/microprofile-jwt/target/
/microprofile-lra/target/
/microprofile-openapi/target/
/microprofile-reactive-messaging-kafka/target/
/microprofile-rest-client/target/
/numberguess/target/
/opentelemetry-tracing/target/
/remote-helloworld-mdb/target/
/security-domain-to-domain/ear/target/
/security-domain-to-domain/ejb/target/
/security-domain-to-domain/test/target/
/security-domain-to-domain/web/target/
/servlet-async/target/
/servlet-filterlistener/target/
/servlet-security/target/
/spring-resteasy/target/
/tasks-jsf/target/
/temperature-converter/target/
/thread-racing/target/
/todo-backend/target/
/websocket-endpoint/target/
/websocket-hello/target/